.one{
    color:black;
    background-color: aquamarine;
    
}

p{
    padding: 0px !important;
    margin: 0px !important;

}
.two{
    background-color: blue;

}
.three{
    background-color: rgb(33, 37, 246);
}
.four{
    background-color: rgb(53, 53, 235);
}
.five{
    background-color: rgb(51, 51, 224);
}
.six{
    background-color: rgb(104, 104, 247);
}
.seven{
    background-color: rgb(125, 206, 229);
}
.eight{
    background-color: rgb(170, 227, 248);
}
    .nine{
        background: rgb(7, 78, 7);

    }
    .ten{
        background-color: palevioletred;
    }
    .eleven{
        background-color: rgb(235, 22, 139);
    }
    .twelve{
        background-color: rgb(241, 40, 160);
    }
    .thirteen{
        background-color: rgb(220, 4, 141);
    }

.fourteen{
    background-color: rgb(236, 12, 187);
}
.fifteen{
background-color: rgb(252, 56, 164);
}
.sixteen{
    background-color: rgb(229, 2, 135);
}